<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        Guide
    </title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <style type="text/css">
        h2 {
            font-size: 30px;
        }

        li {
            font-size: 20px;
            line-height: 30px;
            border: none ! important;
        }

        #experiment_start {
            margin-top: 20px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="usr_info" class="usr_info">
        <h2>User Guide</h2><br /><br />
        <ul>
            <li>
                In this experiment, we will show you a sequence of images depicting the scalar field of different measurement data. You need to complete four distinct tasks: (1) Comparing values; (2) Comparing extrema; (3) Reading values; and (4) Localization. 

            </li>
            <!-- <li>
                You will be given a set of images in sequence,
                and each shows a density map visualization and the corresponding task target is shown above the image.
                Note: The color scales used in the study are logarithmicallyscaled.
            </li> -->
        </ul>
        <!-- <img
            src="/static/img/guide.png"
            width="900"
            alt="An example trial in the experiment" /> -->
        <ul>
            <!-- <li>
                According to the color bar on the right, You need to make your choice based on the target tasks. 
            </li> -->
            <li>
                For each task, you are required to answer the specified question by reading the scalar field and the corresponding color map provided on the right. For example, considering the image above, you are required to identify the region with a higher density in both regions A and B. After confirming your answer, please click on one of the answer buttons below to proceed to the next trial.
            </li>
            <li>
                There is a progress bar at the bottom showing how many trials have been done and the total number of trials.
            </li>
            <li>
                <span style="color: red;">CAUTION: Don't refresh or go back to the previous page, as this will result in a loss of experimental progress.</span>
            </li>
            <li>
                Now you can start the training process we prepared for you by clicking the button below.
                Wish you a pleasant experience!
            </li>
        </ul>
        <div id="experiment_start">
            <a class="a_button" href="/experiment1">Start Training!</a>
        </div>
    </div>
    <div id="preloading_images" style="display: none;">
    </div>
    <script>
    </script>
</body>

</html>